@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

#menu-h {
	list-style: none;
	padding: 0;
	background-color: #7e2a2a;
}

#menu-h li {
	display: inline;
}

#menu-h li a{
	color: #fff;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
}

#menu-h li a:hover{
	background-color: rgb(0, 0, 0);
}

#menu-h ul li:last-child a {
	float: right;
	background-color: rgb(179, 7, 7);
}